@model Login
<form asp-action="Login" method="post">

    <div class="container">
        <label asp-for="Email"><b>Email</b></label>
        <input type="text" asp-for="Email" placeholder="Enter Email">
        <div class="msg">
            <span class="err" asp-validation-for="Email"></span>
        </div>
        <label asp-for="Password"><b>Password</b></label>
        <input type="password" asp-for="Password" placeholder="Enter Password">
        <div class="msg">
            <span asp-validation-for="Password" class="err"></span>
        </div>
        <button type="submit">Login</button>
        <a asp-action="Register" asp-controller="Account"> SignUp</a>
    </div>
</form>